
       {% extends 'base.html' %}
 {% block content %}
<div class="card p-3 shadow">
        <div class="card-body" >
         <h5 class="card-title">{{task.name}}</h5>
         <p><b>{{i.priority}}</b></p>
            <p><b>{{task.date}}</b></p>
                <a class="btn btn-danger" href="{% url 'delete' task.id %}">done></a>
             <a class="btn btn-warning" href="{% url 'update' task.id %}">update></a>


                </div>

        </div>
    </div>
       {% endblock %}

    </div>